{% extends 'admin-crud.html.twig' %}

{% set title = "Categories" %}

{% block breadcrumbs %}
    {% include "_parts/_breadcrumb.html.twig" with {
        links:{ 
            0:{name:"Admin", url:path("admin")},
            1:{name:"Categories"}
        }
    }%}
{% endblock %}

{% block crud_add_text %}Create new Category{% endblock %}
{% block crud_add_link %}{{ path("category_create") }}{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">{{ collListThLink('Name', 'name', app.request, collection)|raw }}</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for category in collection.items %}
            <tr>
                <td>
                    <a href="{{ path("category", {slug:category.slug}) }}" target="_blank">{{category.name}}</a>
                </td>
                <td>
                    {% if category.slug is not same as 'undefined' %}
                        <a href="{{path("category_edit",{id:category.id})}}" class="btn btn-sm btn-primary mr-2">Edit</a>
                        {% set modal = modal('delete_'~ category.id) %}
                        {{ modal|trigger('Delete', 'btn btn-danger btn-sm')|raw }}
                        {{ modal|popup('Delete Category', null, 'Confirm', path("category_delete",{id:category.id}))|raw }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "_parts/_collection-pagination.html.twig" %}
{% endblock %}