{% extends 'default.html.twig' %}

{% set title = "Log in" %}

{% block content %}
    <div class="row">
        <div class="col col-4">
            {% if error %}
                <div class="alert alert-danger">{{ error.message }}</div>
            {% endif %} 
            {{ form_start(loginForm) }}
            {{ form_widget(loginForm) }}
            <button type="submit" class="btn btn-primary">Login</button>
            <div class="small mt-3">Don't have an account yet? <a href="{{ path('user_create') }}">Create one.</a></div>
            {{ form_end(loginForm) }}
        </div>
    </div>
{% endblock %}