{% extends 'default.html.twig' %}

{% set title = user.firstname ~ " " ~ user.lastname %}

{% block breadcrumbs %}
    {% include "_parts/_breadcrumb.html.twig" with {
        links:{ 
            0:{name:"Admin", url:path("admin")},
            1:{name:"Users", url:path("admin_users")},
            2:{name:user.firstname ~ " " ~ user.lastname}
        }
    }%}
{% endblock %}

{% block content %}
    <div class="small">User ID: {{ user.id }}</div>
    <div class="row mt-3">
        <div class="col col-4">
            {{ form_start(userForm) }}
            {{ form_widget(userForm) }}
            <button type="submit" class="btn btn-primary">Edit</button>

            {% if "ROLE_ADMIN" not in user.roles %}
                {% set modal = modal('delete_'~ user.id) %}
                <span class="ms-2">
                    {{ modal|trigger('Delete user', 'text-danger')|raw }}
                </span>
            {% endif %}
            {{ form_end(userForm) }}
            {{ modal|popup('Delete User', null, 'Confirm', path("user_delete",{id:user.id}))|raw }}
        </div>
    </div>
    
{% endblock %}