{% extends 'admin-crud.html.twig' %}

{% set title = "Users" %}

{% block breadcrumbs %}
    {% include "_parts/_breadcrumb.html.twig" with {
        links:{ 
            0:{name:"Admin", url:path("admin")},
            1:{name:"Users"}
        }
    }%}
{% endblock %}

{% block crud_add_text %}Create new User{% endblock %}
{% block crud_add_link %}{# {{ path("user_create") }} #}{% endblock %}

{% block content %}
    <table class="table">
        <tr>
            <th scope="col">{{ collListThLink('ID', 'id', app.request, collection)|raw }}</th>
            <th scope="col">{{ collListThLink('Firstname', 'firstname', app.request, collection)|raw }}</th>
            <th scope="col">{{ collListThLink('Lastname', 'lastname', app.request, collection)|raw }}</th>
            <th scope="col">{{ collListThLink('Registered on', 'createdAt', app.request, collection)|raw }}</th>
            <th scope="col">{{ collListThLink('City', 'city', app.request, collection)|raw }}</th>
            <th scope="col">{{ collListThLink('Country', 'country', app.request, collection)|raw }}</th>
            <th scope="col">Admin</th>
            <th scope="col">Options</th>
        </tr>
        {% for user in collection.items %}
        <tr>
            <td class="small text-muted">{{ user.id }}</td>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.createdAt|date("m-d-Y") }}</td>
            <td>{{ user.city }}</td>
            <td>{{ user.country }}</td>
            <td>
                {% if "ROLE_ADMIN" in user.roles %}
                    <i class="fas fa-check"></i>
                {% endif %}
            </td>
            <td>
                <a href="{{path("admin_user_edit",{id:user.id})}}" class="btn btn-sm btn-primary mr-2">Edit</a>
                {% if "ROLE_ADMIN" not in user.roles %}
                    <a href="{{path("user_delete",{id:user.id})}}" class="btn btn-sm btn-danger">Delete</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% include "_parts/_collection-pagination.html.twig" %}
{% endblock %}