{% extends 'base.html.twig' %}

{% block title %}Edit category {{category.name}}{% endblock %}

{% block body %}
    {% include "_parts/_breadcrumb.html.twig" with {
        links:{ 
            0:{name:"Admin", url:path("admin")},
            1:{name:"Categories", url:path("admin_categories")},
            2:{name:"Edit category " ~ category.name}
        }
    }%}
    <h1>Edit category {{category.name}}</h1>
    {{form_start(categoryForm)}}
        {{form_widget(categoryForm)}}
        <button type="submit" class="btn btn-primary">Update category</button>
    {{form_end(categoryForm)}}

{% endblock %}
