{% extends 'default.html.twig' %}

{% set title = "Statistics" %}

{% block breadcrumbs %}
    {% include "_parts/_breadcrumb.html.twig" with {
        links:{ 
            0:{name:"Admin", url:path("admin")},
            1:{name:"Statistics"}
        }
    }%}
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-md-6">
            <h3>Sales</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Units sold</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in bestSellers %}
                    <tr>
                        <td><a href="{{ path("product", {"category_slug":p.category.slug, "slug":p.slug}) }}" target="_blank">{{ p.name }}</a></td>
                        <td>{{ p.purchases ?? 0 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
        <div class="col-md-6">
            <h3>Products views</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Views</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in mostViewedProducts %}
                    <tr>
                        <td><a href="{{ path("product", {"category_slug":p.category.slug, "slug":p.slug}) }}" target="_blank">{{ p.name }}</a></td>
                        <td>{{ p.views ?? 0 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
    </div>

{% endblock %}