{% extends 'default.html.twig' %}

{% set title = "Statistics" %}

{% block breadcrumbs %}
    {% include "_parts/_breadcrumb.html.twig" with {
        links:{ 
            0:{name:"Admin", url:path("admin")},
            1:{name:"Statistics"}
        }
    }%}
{% endblock %}

{% block content %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">{{ collListThLink('ID', 'id', app.request, collection)|raw }}</th>
                    <th scope="col">{{ collListThLink('Product', 'name', app.request, collection)|raw }}</th>
                    <th scope="col">{{ collListThLink('Units sold', 'purchases', app.request, collection)|raw }}</th>
                    <th scope="col">{{ collListThLink('Page views', 'views', app.request, collection)|raw }}</th>
                </tr>
            </thead>
            <tbody>
                {% for p in collection.items %}
                <tr>
                    <td class="small txt-muted">{{ p.id }}</td>
                    <td><a href="{{ path("product", {"category_slug":p.category.slug, "slug":p.slug}) }}" target="_blank">{{ p.name }}</a></td>
                    <td>{{ p.purchases ?? 0 }}</td>
                    <td>{{ p.views ?? 0 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% include "_parts/_collection-pagination.html.twig" %}
{% endblock %}