<p><b>Fullname:</b> {{ contactMessage.fullname }}</p>
<p><b>Email:</b> {{ contactMessage.email }}</p>
<p><b>Phone:</b> {{ contactMessage.phone }}</p>
<p><b>Subjet:</b> {{ contactMessage.subject }}</p>
<p><b>Message:</b></p>
</p>{{ contactMessage.message|nl2br }}</p>