{% extends 'default.html.twig' %}

{% set title = "Checkout" %}

{% block content %}
    {{ form_start(formCheckout, {'attr': {'id': 'payment-form'}}) }}
        <div class="row">
            <div class="col-md-7 pe-md-5">

                {% if not app.user %}
                    <a href="{{ loginLink }}" class="w-100 btn btn-primary btn-lg">
                        <i class="fas fa-user me-2"></i>Log in
                    </a>
                    <div class="my-3 text-center"><i class="fas fa-arrow-down" style="opacity:0.6"></i>
                    <span> Or enter your informations manually </span>
                    <i class="fas fa-arrow-down" style="opacity:0.6"></i></div>
                {% endif %}

                <h3 class="mt-0">Personal Informations</h3>
                <div class="small text-muted mb-3">
                    All your informations are safe and kept private (<a href="{{ path('privacy') }}" target="_blank">Privacy policy</a>).
                </div>

                {% set u = formCheckout.userData %}
                <div class="row">
                    <div class="col-sm-6 ">
                        {{ form_row(u.firstname) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_row(u.lastname) }}
                    </div>
                </div>
                {{ form_row(u.street) }}
                <div class="row">
                    <div class="col-sm-3">
                        {{ form_row(u.postcode) }}
                    </div>
                    <div class="col-sm-5">
                        {{ form_row(u.city) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_row(u.country) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 ">
                        {{ form_row(u.email) }}
                    </div>
                    <div class="col-sm-6 ">
                        {{ form_row(u.phone) }}
                    </div>
                </div>
                {% if app.user is null %}
                    {{ form_row(u.password) }}
                {% else %}
                    {# Pretend that field is already rendered (in order t hide it) #}
                    {% do u.password.setRendered() %}
                {% endif %}

            </div>
            <div class="col-md-5">

                <div class="sticky">
                    <h3 class="mt-0">Delivery</h3>
                    {{ form_row(formCheckout.delivery.method) }}

                    <button class="btn btn-primary btn-lg my-4 w-100">
                        <i class="fas fa-check me-2"></i>Continue to Payment
                    </button>
                    <img class="img-fluid" src="img/checkout/guaranties.jpg" alt="">
                </div>
                
            </div>
        </div>
    {{form_end(formCheckout)}}

    <hr class="my-5">

    <h3>Order details</h3>
    <table class="table">
        <tr>
            <th>Product</th>
            <th>Qty</th>
            <th>Total</th>
        </tr>
        {% for item in cart %}
            <tr>
                <td>{{item.product.name}}</td>
                <td><span class="mx-2">{{item.qty}}</span></td>
                <td>{{ item.total|price }}</td>
            </tr>
        {% endfor %}
        <tr>
            <th colspan=2>Total</th>
            <th>{{ total|price }}</th>
        </tr>
    </table>
{% endblock %}